.card {
    background-color: #f9f9f9; /* Цвет фона карточки */
    border-radius: 8px; /* Скругление углов */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень карточки */
    padding: 20px; /* Внутренний отступ в карточке */
    margin-bottom: 20px; /* Внешний отступ снизу между карточками */
}

/* Стили для списка внутри карточки */
.card ul {
    margin: 0; /* Убираем внешние отступы у списка */
    padding: 0; /* Убираем внутренние отступы у списка */
}

/* Стили для элементов списка внутри карточки */
.card li {
    list-style: none; /* Убираем маркеры у элементов списка */
    margin-bottom: 8px; /* Внутренний отступ снизу между элементами списка */
}

/* Стили для ссылок внутри карточки */
.card a {
    color: #007bff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    font-size: 25px;
}

/* Стили для параграфов внутри карточки */
.card p {
    font-size: 15px;
    margin: 0; /* Убираем внутренние отступы у параграфов */
    line-height: 1.5; /* Межстрочный интервал */
}
h2{
    text-align: center;
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
}